ubuntu-bionic-18.04-cloudimg-console.log
.vagrant/machines/mqtt/virtualbox/action_provision
.vagrant/machines/mqtt/virtualbox/action_set_name
.vagrant/machines/mqtt/virtualbox/box_meta
.vagrant/machines/mqtt/virtualbox/creator_uid
.vagrant/machines/mqtt/virtualbox/id
.vagrant/machines/mqtt/virtualbox/index_uuid
.vagrant/machines/mqtt/virtualbox/private_key
.vagrant/machines/mqtt/virtualbox/synced_folders
.vagrant/machines/mqtt/virtualbox/vagrant_cwd
.vagrant
